html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

#page {
	width: 100%;
	@include center-block;
}

#primary {
	float: left;
	@include content_padding;
	width: $size__site-main;
	background-color: $color__background-primary;
}

#secondary {
	@extend #primary;
	float: right;
	width: $size__site-sidebar;
}

.site-header {
	margin-bottom: $margin__header-bottom;
}

.site-footer {
	margin-top: $margin__footer-top;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 40px;
	background-color: $color__background-primary;
}

/* misc */

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";