html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

#page {
	width: $size__site-main;
	@include center-block;
}

#primary {
	@include content_padding;
	margin-bottom: $margin__content-bottom;
	width: $size__site-primary;
	background-color: $color__background-primary;
}

#secondary {
	@extend #primary;
	margin-bottom: 0px;
	width: $size__site-sidebar;
}

.site-header {
	@include content_padding;
	margin-bottom: $margin__header-bottom;
	background-color: $color__background-header;
	color: $color__text-header;

	.site-title {
		margin-top: 0px;
	}
}

.site-footer {
	margin-top: $margin__footer-top;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	min-height: 64px;
	height: auto;
	background-color: $color__background-footer;
	color: $color__text-footer;
}

/* misc */

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";