table {
	margin: 0 0 1.5em;
	width: 100%;
	display: block;
	overflow: auto;

	th {
		padding: 2.5px 5px;
		text-align: center;
		background-color: $color__background-th;
	}

	tr {
		border: 1px solid $color__border-td;
	}

	td {
		padding: 5px;
		border: 1px solid $color__border-td;

		&:first-child {
			@include no_border;
		}
	}
}

@media screen and ( min-width: 37.5em ) {
	table {
		td, th {
			padding: 8px;
		}
	}
}