$color__background-body: #fff;
$color__background-primary: #eee;
$color__background-screen: #fff;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #C9C9C9;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: $color__link;
$color__link-hover: darken( $color__link, 35 );
$color__text-main: #4A4A4A;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;