$size__site-main: 80%;
$size__site-sidebar: 20%;

$padding__content-left: 20px;
$padding__content-right: 20px;
$padding__content-top: 20px;
$padding__content-bottom: 20px;
$padding__nav-top-mobile: 10px;
$padding__nav-bottom-mobile: 10px;
$padding__nav-top: 10px;
$padding__nav-bottom: 5px;
$padding__small: 2.5px 5px;

$margin__header-bottom: 40px;
$margin__footer-top: 40px;
$margin__nav-link-left: 10px;
$margin__nav-link-right: 10px;