// Widths
$size__site-main-desktop: 80%;
$size__site-main: 100%;
$size__site-primary-desktop: 70%;
$size__site-primary: 100%;
$size__site-sidebar-desktop: 28%;
$size__site-sidebar: 100%;

// Padding
$padding__content-left: 20px;
$padding__content-right: 20px;
$padding__content-top: 20px;
$padding__content-bottom: 20px;
$padding__nav-top: 10px;
$padding__nav-bottom: 10px;
$padding__nav-top-desktop: 5px;
$padding__nav-bottom-desktop: 5px;
$padding__nav-horiz-desktop: 0px;
$padding__nav-li-top-desktop: 5px;
$padding__nav-li-bottom-desktop: 5px;
$padding__small: 2.5px 5px;
$padding__code-horiz: 5px;
$padding__code-vert: $padding__code-horiz / 2;

// Margins
$margin__content-bottom: 20px;
$margin__content-bottom-desktop: 0px;
$margin__site-title-bottom: 5px;
$margin__header-bottom: 20px;
$margin__header-desc-top: 0px;
$margin__header-desc-bottom: 10px;
$margin__footer-top: 20px;
$margin__nav-link-left: 10px;
$margin__nav-link-right: 10px;
$margin__nav-link-desktop: 0px;
$margin__sidebar-desktop-left: 2%;