$font__main: PalatinoLinotype-Roman, "Times New Roman", serif;
$font__code: Monaco, "Andale Mono", Courier, Consolas, monospace;
$font__pre: Monaco, "Andale Mono", Courier, Consolas, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* header fonts */
$font__header: AvenirNext-Bold, Verdana, Helvetica, sans-serif;