a {
	@include link_color( $color__link );

	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.site-header a {
	@include link_color( $color__link-header );
}

.site-footer a {
	@include link_color( $color__link-footer );
}

a.bt_permlink {
	text-decoration: none;
}