.main-navigation {
	background-color: $color__background-header;
	padding-top: $padding__nav-top-desktop;
	padding-bottom: $padding__nav-bottom-desktop;

	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 20px 0 0;
		padding-left: 0;

		ul {
			margin: 0;
			padding-left: 15px;
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		padding: 5px 0;
		float: none;
		position: relative;

		&.page_item_has_children {
			padding-bottom: 0;
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.site-main {
	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		padding-left: $padding__content-left;
		padding-right: $padding__content-right;
		padding-bottom: $padding__content-bottom;

		.nav-links {
			@include flexbox();

			.nav-previous {
				@include flex(1 50%);

				&:before {
					content: "\2190\a0";
				}
			}

			.nav-next {
				text-align: right;
				@include flex(1 50%);

				&:after {
					content: "\a0\2192";
				}
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	width: 100%;
	@include font-size( 1 );
}

@media screen and ( min-width: 37.5em ) {
	.main-navigation {
		padding-left: $padding__nav-horiz-desktop;
		padding-right: $padding__nav-horiz-desktop;
		padding-top: $padding__nav-top-desktop;
		padding-bottom: $padding__nav-bottom-desktop;

		ul {
			display: block;
			padding-left: 0;
			margin: 0;
			
			ul {
				background-color: $color__background-body;
				float: left;
				padding-left: 10px;
				position: absolute;
				top: 2em;
				left: -999em;
				z-index: 99999;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					margin-left: 0px;
					margin-right: 0px;

					&:hover > ul,
					&.focus > ul {
						left: 100%;
						display: block;
					}
				}

				a {
					width: 200px;
					@include link_color( $color__link );
				}
			}
		}

		li {
			float: left;
			margin-left: $margin__nav-link-left;
			margin-right: $margin__nav-link-right;

			&:first-of-type {
				margin-left: 0px;
			}

			&.page_item_has_children {
				padding-bottom: $padding__nav-li-bottom-desktop;
			}
		}
	}

	.menu-toggle {
		display: none;
	}
	
	.main-navigation ul {
		display: block;
	}
}