.comments-area {
	@include content_padding;

	.no-comments {
		margin: 1.5em 0 0 0;
	}

	.comments-title {
		margin-top: 0;
	}

	.comment-list {
		margin-bottom: 0;
		padding-left: 0;

		&, ol {
			list-style: none;	
		}

		.comment-author.vcard {
			margin-bottom: 5px;
			img {
				vertical-align: middle;
				margin: 0 5px 0 0;
			}
		}

		.comment-body {
			margin-top: 10px;
			padding: 15px;
			background-color: $color__background-comment;
		}

		li.comment.depth-1:first-of-type > .comment-body {
			margin-top: 0;
		}

		.bt-admin-comment {
			border: dashed 1px $color__border-comment-admin;
			background-color: $color__background-comment-admin;
		}

		.comment-content {
			p {
				margin: 1rem 0;
			}
		}
	}

	.comment-respond {
		.comment-reply-title {
			margin-bottom: 0;

			a {
				text-shadow: none;
			}
		}

		.logged-in-as {
			margin: 0 0 15px 0;
		}

		.comment-notes {
			margin: 1rem 0;
		}

		.comment-form-comment {
			margin: 0;

			textarea[name='comment'] {
				max-width: 100%;
				min-height: 200px;
				padding: 5px 10px;
			}
		}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			label {
				clear: both;
			}
			input {
				width: 100%;
			}
		}
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

@media screen and ( min-width: 37.5em ) {
	.comment-list {
		padding-left: 1em;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		display: inline-block;
		margin: 10px 0 10px 0;
	}

	.comment-form-author,
	.comment-form-email {
		width: 48%;
	}

	.comment-form-author {
		float: left;
	}

	.comment-form-email {
		margin-left: 2%;
		float: right;
	}

	.comment-form-url {
		width: 100%;
	}
}