.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.comments-link,
.tags-links,
.cat-links,
.edit-link,
.top-link {
	margin-right: 0;
	margin-top: 5px;
	display: block;
}

.entry-footer span:first-of-type {
	margin-top: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}